In [2]:
fandoms_qa_path1 = '../../data/fandoms_qa/fandoms_all/all/'
human_qa_path = '../../data/humanfandoms/'

In [3]:
import pandas as pd
df_passages = pd.read_csv(fandoms_qa_path1 + 'passages.tsv', sep ='\t')
df_passages

           PID                                            passage      WID
0          366  The Bluct Graveyard is a graveyard within the ...   957515
1          367  Urik is a Nord in . He gives Cyrus the Restles...   882595
2          368  [Dialogue] Cyrus. "Urik. Welcome to the Smuggl...   882595
3          369  [If Urik is fought for the insignia] Now. Abou...   882595
4          370  Paarthurnax's Roar is one of the five purchasa...   995234
...        ...                                                ...      ...
779817  173647  [2000s] In March 2006, Marvel Entertainment an...    37738
779818  173648  [2000s] Comics trade news site icv2 reported t...    37738
779819  173649  [2000s] Marvel's new owners (Disney) have sinc...    37738
779820  173650    A list of members of Secret Empire (Earth-616).  1397381
779821  173651  Below is a list of characters whose reality do...  1264704

[779822 rows x 3 columns]

In [128]:
import os
import json
os.makedirs(human_qa_path + 'final/', exist_ok=True)
witcher = []
harry = []
elder = []
j = 0
for file in os.listdir(human_qa_path):
    if file.endswith(".json") and 'blue' in file:  
        print(file)
        i = 0
        # Read the input JSON file
        try:
            with open(human_qa_path + file, 'r') as file2:
                data = json.load(file2)

        # Convert the data to the desired format
        
            for key, value in data.items():
                if value["pos_query"] == ['...', '...', '...']:
                    continue
                
                if value["pos_query"] == [[]]:
                    continue

                if value["pos_query"] == []:
                    continue
            
                j = j + 1
                if len(value["pos_query"]) == 3:

                    item = {
                        "id": j,
                        "revid": 0,  # You can assign a value for "revid" if applicable
                        "url": value["url"],
                        "title": value["title"],
                        "text": [value["passage"]],
                        "positive": [value["pos_query"]],
                        "negative": [value["neg_query"]]
                    }
                else:
                    item = {
                        "id": int(key),
                        "revid": 0,  # You can assign a value for "revid" if applicable
                        "url": value["url"],
                        "title": value["title"],
                        "text": [value["passage"]],
                        "positive": value["pos_query"],
                        "negative": value["neg_query"]
                    }
                if i > 34:
                    continue 
                i = i + 1 
                        
                if 'harry' in file:
                    harry.append(item)
                elif 'elder' in file:
                    elder.append(item)
                elif 'witcher' in file:
                    witcher.append(item)
            print(i)
        except Exception as e:
            print('error in file ' + file)
            print(e)

        
with open(human_qa_path + 'final/' + 'witcher.json', 'w') as file:
    json.dump(witcher, file, indent=4)

with open(human_qa_path + 'final/' + 'elder.json', 'w') as file:
    json.dump(elder, file, indent=4)

with open(human_qa_path + 'final/' + 'harry.json', 'w') as file:
    json.dump(harry, file, indent=4)

harry_pqq_blueprint3.json
35
witcher_pqq_blueprint4.json
35
witcher_pqq_blueprint5.json
35
witcher_pqq_blueprint3_f.json
35
witcher_pqq_blueprint1 (1).json
35
harry_pqq_blueprint2.json
35
harry_pqq_blueprint1_f.json
35
harry_pqq_blueprint5.json
32
harry_pqq_blueprint4.json
34
elder_pqq_blueprint1.json
35
elder_pqq_blueprint2_f.json
35
elder_pqq_blueprint3.json
35
elder_pqq_blueprint4.json
35
elder_pqq_blueprint5.json
35

In [5]:
fandoms_qa_path2 = '../../data/humanfandoms/final/fandoms_all/all/'
df_passages_all = pd.read_csv(fandoms_qa_path1 + 'passages.tsv', sep ='\t')
df_passages_all
df_passages_human = pd.read_csv(fandoms_qa_path2 + 'passages.tsv', sep ='\t')
df_passages_human

df_triples_human = pd.read_csv(fandoms_qa_path2 + 'triples.tsv', sep ='\t')

In [6]:
len(df_passages_human)

485

In [7]:
map_pid = {}
map_wid = {}

from tqdm import tqdm

j = 0
for ind, row in tqdm(df_passages_human.iterrows(), total=df_passages_human.shape[0]):
    # j = j + 1
    # if j >= 10:
    #     pid = -1
    #     wid = -1
    #     map_pid[row['PID']] = pid
    #     map_wid[row['WID']] = wid
    #     continue
    try:
        selected = (df_passages_all[ df_passages_all['passage'].str.contains(row['passage'][int(len(row['passage']) / 2) - 20:int(len(row['passage']) / 2) + 20 ])] )
        if  len(selected['PID'].values) == 0:
            pid = -1
            wid = -1
            
        else:
            pid = selected['PID'].values[0]
            wid = selected['WID'].values[0]
    except:
        pid = -1
        wid = -1
        print('error')

        
    map_pid[row['PID']] = pid
    map_wid[row['WID']] = wid

  9%|▉         | 45/485 [00:23<02:58,  2.47it/s]

error

 14%|█▍        | 68/485 [00:33<03:15,  2.14it/s]/var/folders/hp/vp5__h8x25lckl0lv317s72w0000gn/T/ipykernel_973/1944566382.py:16: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  selected = (df_passages_all[ df_passages_all['passage'].str.contains(row['passage'][int(len(row['passage']) / 2) - 20:int(len(row['passage']) / 2) + 20 ])] )
 20%|█▉        | 95/485 [00:47<03:48,  1.70it/s]

error

 47%|████▋     | 227/485 [01:51<01:58,  2.19it/s]

error
error
error

 53%|█████▎    | 255/485 [02:02<01:40,  2.29it/s]

In [65]:
for key,value in map_pid.items():
    print(value)

6017
17185
138231
151836
157249
129973
126824
151852
35244
81490
103177
151847
136772
147718
16207
63553
23969
200828
178710
214956
214915
214044
214908
178727
214932
214903
179760
184403
214927
178723
197219
214877
178716
187378
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
17143
6015
137730
147715
104703
150066
141337
43643
147713
101562
-1
151861
75090
86014
118958
92050
157266
151845
103182
10257
-1
136768
147716
3555
151846
52531
157256
18896
43645
110100
118956
43650
92053
16145
64923
147697
101610
16785
16208
51857
44980
16146
17073
23977
95727
17085
17172
144724
157254
103186
17191
157870
50638
67071
71073
120485
103179
106471
138948
67068
136769
92052
97024
53276
24018
155439
101805
23993
118963
116143
147702
122802
4121
126823
147706
4122
147724
147710
138232
75093
116173
155444
124427
147712
103184
103180
100055
21953
142114
94252
16210
49787
138204
147699
126822
6018
75099
116158
147726
17198
151863
100912
118966
147709
51859
51863
151866
126825
157262
90096
43057
151834
17145
23983
-1
129963
71068
57535
71377
118967
75088
24019
141338
144272
104700
157260
157945
94235
10222
17167
142870
76614
92054
151854
17080
147722
43646
32208
17089
51853
179798
185522
214926
200821
178711
209048
197234
179802
199473
196031
178718
200818
214909
184384
214897
184440
214352
184441
200825
184423
214940
178726
184400
184389
182437
184393
187415
190498
187399
190493
184442
179775
197225
180527
190501
179797
180522
214887
187380
179785
-1
190536
197247
200835
184430
200841
178702
178714
214337
214875
209058
184408
179779
214963
179794
187410
214347
179790
187389
184436
179756
200842
214878
214886
187386
184443
214342
178715
190527
187406
178720
190503
187377
197217
190520
-1
214896
208241
184439
214884
178719
184424
184411
190541
209057
209054
195787
214878
179786
179758
190499
178725
200832
214899
179781
200852
214941
180513
184451
190505
189537
197226
214950
178728
200826
190524
214036
214913
187387
190540
187385
178712
214906
214873
209055
180535
-1
214898
187394
214890
210059
200819
208240
179777
-1
178704
178706
179762
187396
184380
214938
200839
197224
184391
180508
-1
197229
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
86018
17074
147721
17083
151111
95753
64916
2368
134368
147705
2606
18902
144289
157247
92059
158016
96938
184964
200843
197222
178700
179801
179795
190500
179759
180519
-1
178729
184402
-1
214043
184381
179778
179800
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [66]:
df_triples_human

      QID+  QID-    PID
0     1654  1655   6017
1     1656  1657   6017
2     1658  1659   6017
3     1660  1661  17185
4     1662  1663  17185
...    ...   ...    ...
1430   824   825     -1
1431   826   827     -1
1432   828   829     -1
1433   830   831     -1
1434   832   833     -1

[1435 rows x 3 columns]

In [67]:
df_triples_human['PID'] = df_triples_human['PID'].apply(lambda row: map_pid[row])
df_triples_human

KeyError: 6017

In [17]:
df_passages_human['PID'] = df_passages_human['PID'].apply(lambda row: map_pid[row])
df_passages_human['WID'] = df_passages_human['WID'].apply(lambda row: map_wid[row])

In [58]:
df_passages_human

,PID,passage,WID
0,280,"[History of the Tribunal] After the battle at Red Mountain and the death of Nerevar, Sotha Sil a...",1436
1,281,"[Contents] ""Soap! The forest will eat love! Straight ahead! Stupid and a stupid cow!"" The voice ...",1450
2,282,"[100% completion] There are 204 journal quests in ""The Elder Scrolls IV: Oblivion"", though only ...",3428
3,283,"[Necromancy] At one point, Mannimarco began to make a study of the school of necromancy. Time pa...",3419
4,284,"[Septim Dynasty] When Tiber Septim finally conquered all of Tamriel, he declared that the follow...",1032
...,...,...,...
480,135,"[Adaptations] Eternal Fire is a symbol of hope, enduring the misfortune, light pointing the way ...",5401
481,136,"[Localization Variations] Colorful dialogue between characters was cut in all English releases, ...",738
482,137,"[Biography] After Riannon's death, Goidemar lost all hope that Amavet would become heir. This pr...",615
483,138,[Extra Tips] Advance the quest The Heat of the Day to the point where you have seen the Midday b...,5422
484,139,"[Allies up the Mountains] Seeing Meve disheartened, Zigrin advised the Lyrians to go around some...",5432

In [60]:
df_triples_human.to_csv(fandoms_qa_path2 + 'triples.tsv', index=False, sep="\t")
df_passages_human.to_csv(fandoms_qa_path2 + 'passages.tsv', index=False, sep="\t")

In [59]:
print(df_triples_human['PID'].value_counts())

-1         553
 6017        3
 214875      3
 179790      3
 214347      3
          ...
 57535       2
 214915      2
 17145       2
 94252       2
 71377       1
Name: PID, Length: 300, dtype: int64

In [36]:
pd.options.display.max_colwidth = 1000
df_passages_human[df_passages_human['PID'] == 17079]

Empty DataFrame
Columns: [PID, passage, WID]
Index: []

In [37]:
pd.options.display.max_colwidth = 100
df_passages_all[df_passages_all['PID'] == 17079]

,PID,passage,WID
16713,17079,"[""I'm meeting someone at Mother Pascost's Tavern.] ""If you've made up your mind to go, take a li...",11419